<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.avalon.zzz.mapper.generator.TeamMapper">
    <select id="selectTeamIdsByAgentIds" resultType="java.lang.Long">
        select team_id
        from team_agent
        where agent_id in
        <foreach collection="aids" item="aid" open="(" separator="," close=")">
            #{aid}
        </foreach>
        group by team_id
        having count(distinct agent_id) = #{size}
    </select>
</mapper>